section {
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.about img {
    width: 20vw;
    border-radius: 70%;
}

.info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.info-box h3 {
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.8;
    color: var(--lila);
    font-family: var(--font-mono);
}

.info-box h1 {
    font-size: clamp(40px, 8vw, 90px);
    font-weight: 600;
    color: var(--primary-text-color);
}

/* Diseño Fronted developer style */

.info-box span {
    /* background: rgb(21, 58, 106);
    background-clip: text; */
    color: var(--secondary-text-color);
    font-size: 3rem;
}

.btn-group {
    display: flex;
    gap: 1rem;
}

.btn {
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--lila);
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
    color: var(--lila);
}

.btn:hover {
    background-color: var(--lila);
    color: var(--white);
    transform: translateY(-10px)scale(1.02);
}

.socials {
    display: flex;
    gap: 2rem;
    color: var(--lila);
}

.socials i {
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.socials i:hover {
    transform: scale(1.1);
}