.contact {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: -20px;
    padding: 20px;
}


.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 2rem;
}

p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 0.9rem;
}

/* .input-box input {
    border-radius: 3rem;
    border: 3px solid var(--lila);
    padding: 2rem 8rem;
    font-size: 3rem;
    color: var(--primary-text-color);
} */

/* .input-box input::placeholder {
    font-size: 2.8rem;
    color: var(--secondary-text-color);
} */

/* .input {
    position: relative;
} */

/* .input i {
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 10px;
    transform: translate(50%, -50%);
    color: var(--primary-text-color);
} */