.section-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}

/* .number-title::before {
    position: relative;
    bottom: 4px;
    counter-increment: section ;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: var(--lila);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
    font-weight: 400;
} */

.experience-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.experience img {
    width: 24vw;
    border-radius: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 4rem;
}

.grid-card {
    border: 2px solid var(--lila);
    border-radius: 3rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.grid-card:hover {
    transform: scale(1.02);
    background: var(--background);
    color: white;

}


.grid-card h3 {
    color: var(--primary-text-color);
    transition: 0.3s ease;
}

.grid-card h3:hover {
    color: var(--lila);
}

.grid-card p {
    color: var(--secondary-text-color);
}

.grid-card i {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary-text-color);
}

/* .grid-card i:hover {
    background-color: var(--background);
} */

/* Color de titulo letra */


.grid-card span {
    font-size: 1.5rem;
    font-weight: 500;
    /* background: var(--primary-text-color);
    background-clip: text; */
    color: var(--primary-text-color);
}